body {
    background-color: black;
    color: white;
    font-family: sans-serif;
    text-align: center;
}
canvas {
    background-color: black;
    border: 4px solid #777777;
    display: block;
    float: left;
    margin-left: 30px;
    margin-right: 30px;
    border-top: 1px solid #777;
}
input {
    background-color: black;
    color: white;
    border: 1px solid #777777;
    border-radius: 3px;
}
input[type="color"] {
    background-color: white;
    color: white;
    border: 1px solid #777777;
    border-radius: 3px;
}
#settings {
    columns: 2;
    width: 50%;
    margin: auto;
}
.set-cat {
    break-inside: avoid-column;
}
#next-container,#hold-container {
    display: block;
    float: left;
    margin: auto;
    text-align: center;
}
#main {
    margin: auto;
    display: inline-block;
    width: fit-content;
    text-align: center;
}
#cell-size {
    width: 2em;
}
#das-delay {
    width: 2.5em;
}
#das-speed {
    width: 2em;
}